@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --surface: 0 0% 97%;
  --surface-accent: 0 0% 93%;

  --foreground: 0 0% 7%;
  --foreground-muted: 0 0% 46%;

  --primary: 227 88% 60%;
  --primary-surface: 227 82% 98%;
  --primary-foreground: 0 0% 100%;

  --border: 0 0% 96%;
  --border-accent: 0 0% 88%;

  --danger: 0 96% 49%;
  --danger-surface: 0 84% 95%;

  --yellow: 44 100% 63%;
  --black: 0 0% 0%;
}

html {
  font-size: 62.5%;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
